<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Careers</h3>
        </div>

        <div class="card-body">
            <table class="table tabler-hover">
                <thead>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>DepartmentName</th>
                    <th>Position</th>
                    <th></th>
                </thead>

                <tbody>
                    
                    <tr *ngFor="let employee of employees" class="text-center">

                    
                    <td>{{employee.id}}</td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.departmentName}}</td>
                    <td>{{employee.position}}</td>
                    <td>
                        <button class="btn btn-success" >Update</button>
                        <button class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                    </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>