<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Create Career</h3>
        </div>
        <div class="card-body">
            
            <form action="">
                
                <div class="form-group" name="firstName">
                    <label for="">First name: </label>
                    <input type="text" class="form-control" [(ngModel)] = "employee.firstName" name="firstName">
                </div>

                <div class="form-group"  name="lastName">
                    <label for="">Last name: </label>
                    <input type="text" class="form-control" [(ngModel)] = "employee.lastName" name="lastName">
                </div>

                <div class="form-group" name="departmentName">
                    <label for="">Department name: </label>
                    <input type="text" class="form-control" [(ngModel)] = "employee.departmentName" name="departmentName">
                </div>

                <div class="form-group" name="position">
                    <label for="">Position: </label>
                    <input type="text" class="form-control" [(ngModel)] = "employee.position" name="position">
                </div>

                <div class="form-group" name="telephone">
                    <label for="">Telephone: </label>
                    <input type="text" class="form-control" [(ngModel)] = "employee.telephone" name="telephone">
                </div>
            
                <button (click)="create()" class="btn btn-danger">Create</button>
            </form>
        </div>
    </div>
</div>
