<h1 style="padding-left: 30px; ">Curso de Fundamentos de Sistemas de Información</h1>
<br/>

<h3 style="padding-left: 30px;">Demo app RTF2</h3>

<div style="padding-left: 30px;" class="container">
  <button (click) = "createEmployee()" class="btn btn-primary">Create Employee</button>
  <button (click) = "viewEmployees()"  class="btn btn-danger">View Employees</button>
</div>


<router-outlet></router-outlet>